<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fast API starter</title>

  <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}"">

  <link rel=" preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>

  <div class="heading">
    <h1>Fast API </h1>
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcodeahoy.com%2Fassets%2Fimages%2Fcompare%2Fpython-frameworks%2Ffastapi-logo.png&f=1&nofb=1&ipt=7bc72313346ba934d391dffc1e1118e5cee111bc4cadd030701fbc1108b4de67&ipo=images" height="40" width="40" />
  </div>
  <br>
  Hello
  {{ name }}
  <br>
</body>

</html>
